// START HEADER
.headerPosition
  header.header
    .header__container
      .header__box
        .header__item.-logo
          include ../../components/logo/logo
        .header__item.-nav
          include ../../components/nav/nav
        .header__item.-switchLang
          include ../../components/languagesSwitcher/languagesSwitcher
        .header__item.-mobile
          include ../../components/mobileNav/mobileNav
  include ../../components/subNavBlackBar/subNavBlackBar
  // END HEADER
