// Footer
footer.footer
    .footer__content
        .footer__menuContent
            include ../../components/footerMenu/footerMenu
    .footer__infoContainer
        .footer__infoContent
            include ../../components/footerSocialMedia/footerSocialMedia
            include ../../components/footerRegulationMenu/footerRegulationMenu
            include ../../components/footerCompanyContact/footerCompanyContact
            include ../../components/footerCompanyInformation/footerCompanyInformation
    include ../../components/footerBottom/footerBottom

